Delivery_persons/delivery_persons.dtd

<!ELEMENT Delivery_persons (Delivery_person+)>
<!ELEMENT Delivery_person (id, name, contact, vehicule_type, availability, vehicule_number, current_location)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT vehicule_type (#PCDATA)>
<!ELEMENT availability (#PCDATA)>
<!ELEMENT vehicule_number (#PCDATA)>
<!ELEMENT current_location (#PCDATA)>
