Ingredients/ingredient_macroelements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Define element types -->
  <xs:element name="ingredient_macroelements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ingredient_id" type="xs:string"/>
        <xs:element name="macroelement_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
